<!DOCTYPE html>
<html>
<head>
	<style>
		
		body{
			background-color: white;	
		}
		#login-holder{
			background-color: #990000;
		}
		#login-text{
			width: 1300px;
			height: 800px;
			background-image: url('https://cdn.britannica.com/61/118661-050-6CAD9A11/Popcorn.jpg');
			justify-content: center;
			position: relative;
			left: 120px;	
		}
	</style>
</head>
<body>
        {{{body}}}
</body>
</html>
