<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/signup.css" media="screen">
	<link rel="stylesheet" href="/login.css" media="screen">
	<link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">
   <style>
	body{
			background-color: white;	
		}
		#login-holder{
			background-color: #990000;
			font-family: 'Abril Fatface', cursive;	
			display: flex;
			flex-wrap: wrap;
			position: relative;
        		bottom: 60px;
		}
		#login-text{
			width: 1300px;
			height: 1000px;
			background-image: url('https://cdn.britannica.com/61/118661-050-6CAD9A11/Popcorn.jpg');
			justify-content: center;
			position: relative;
			left: 170px;	
			text-align: center;
		}
		#login-form{
			background-color: white;
                        opacity: 0.7;
			position: relative;
			top: 200px;
			font-weight: bold;
		 	height: 550px;
			text-align: center;
			justify-content: center;
		}
		#login-form-field{
			display: block;
			height: 30px;
                        width: 300px;
		}
		#username-field{
			width: 300px;
			height: 30px;
			position: relative;
			left: 180px;			
			font-size: 20px;
		}
		#password-field{
			width: 300px;
                        height: 30px;
                        position: relative;
			top: 60px;
			right: 128px;
			font-size: 20px;
		}
		
		#login-form-submit{
			position: relative;
			top: 60px;
			right: 100px;
		}
	
		#login-form-submit:hover{
			cursor: pointer;
			background-color: gray;
			border-radius: 20%;
		}

		#login-header{
			font-size: 50px;
		}

		#login-title{
			text-align: center;
                        font-size: 100px;
                        font-family: 'Monoton', cursive;
		}

		.buttonlog{
                        border-radius: 50%;
                        color: black;
                        background-color: white;
                        border: black;
			position: relative;
                        top: 70px;
                }
		#signuplink{
			font-weight: bold;
			font-size: 20px;
			position: relative;
			top: 70px;
		}
		#signup-holder{
			background-color: #990000;
			font-family: 'Abril Fatface', cursive;
			position: relative;
			bottom: 60px;
			display: flex;
                        flex-wrap: wrap;
		}

		#signup-text{
			width: 1400px;
			height: 1000px;
			justify-content: center;
			position: relative;
			left: 135px;
			text-align: center;
			background-image: url('https://media1.thehungryjpeg.com/thumbs2/ori_3486159_2b11949691043693ed746d441450d7be2a1b6bf7_movie-premiere-event-at-cine-theatre-cinema-white-blank-screen-at-mov.jpg');
		}

		#signup-header{
			font-size: 50px;
		}
		
		#signup-form{
			position: relative;
			top: 35px;
		}

		#signup-username-field{
			width: 300px;
                        height: 30px;
                        position: relative;
                        left: 180px;
                        font-size: 20px;
		}

		#signup-password-field{
			width: 300px;
                        height: 30px;
                        position: relative;
                        top: 60px;
                        right: 128px;
                        font-size: 20px;			
		}
		
		#signup-form-submit{
			position: relative;
                        top: 60px;
                        right: 100px;			
		}

		#signup-form-submit:hover{
			cursor: pointer;
                        background-color: gray;
                        border-radius: 20%;			
		}
		
		#signup-title{
			text-align: center;
			font-size: 100px;
			font-family: 'Monoton', cursive;
		}

		#site-title{
			font-family: 'Monoton', cursive;
			text-align: center;
                        font-size: 65px;
			border: 5px solid #990000;
			min-height: 125px;
			max-height: 300px;
			position: relative;
			margin: 0;
		}
		
		#navbar{
			overflow: hidden;
			background-color: #990000;
		}

		#navbar a{
			float: left;
			font-size: 25px;
			font-family: 'Abril Fatface', cursive;
			color: white;
			padding: 14px 16px;
			text-decoration: none;
		}	

		#navbar a:hover{
			cursor: pointer;
			color: black;
			background-color: white;
		}

		#navbar a:visited{
			text-decoration: underlined;
		}

		#search-header{
			font-family: 'Abril Fatface', cursive;
			font-size: 35px;
			text-align: center;
		}

		#search-container{
			width: 1000px;
			margin: 0 auto;	
		}

		#searchbar{
			height: 25px;
			width: 1000px;
			font-size: 25px;
		}
			
		#searchbtn{
			position: relative;
			bottom: 30px;
			left: 1030px;
			font-size: 18px;
			height: 35px;
			width: 35px;
			border-radius: 50%;
		}
		
		#searchbtn:hover{
			cursor: pointer;
			background-color: black;
			color: white;
		}
		#admin-holder{
			background-color: #990000;
		}
		#admin-title{
                        font-family: 'Monoton', cursive;
                        text-align: center;
                        position: relative;
                        font-size: 65px;
                        border: 5px solid #990000;
                        min-height: 125px;
                        max-height: 300px;
                        background-color: white;
                	bottom: 35px;
		}
		#movie-div{
			background-color: white;
			border: 5px solid #990000;
			width: 600px;
			height: 400px;
			position: relative;
			top: 20px;
			left: 50px;
			opacity: 0.8;
		}
		#tv-div{
			background-color: white;
                        border: 5px solid #990000;
                        width: 600px;
                        height: 400px;
                        position: relative;
                        bottom: 390px;
			left: 730px;
			opacity: 0.8;
		}
		#admin-header{
			text-align: center;
			font-size: 50px;	
		}
		#all-admin{
			background-image: url('https://webcomicms.net/sites/default/files/clipart/137458/movie-film-137458-7790046.jpg');
			height: 900px;
			width: 1400px;
			position: relative;
			left: 100px;	
			bottom: 70px;
			font-family: 'Abril Fatface', cursive;
		}
		#add-movie-header{
			font-size: 25px;
                        position: relative;
			text-align: center;
		}
		#add-tv-header{
			font-size: 25px;
                        position: relative;
			text-align: center;
		}
		#movie-title-field{
			font-size: 25px;
			position: relative;
			left: 30px;
			height: 30px;
			width: 500px;
		}
		#tv-title-field{
			font-size: 25px;
			position: relative;
                        left: 30px;
			height: 30px;
                        width: 500px;
		}
		#movie-summary-field{
			font-size: 25px;
                        position: relative;
                        left: 30px;
                        height: 30px;
                        width: 500px;
			top: 20px;
		}
		#add-movie-form-submit{
			width: 100px;
			height: 30px;
			position: relative;
			top: 210px;
			left: 470px;
		}	
  		#tv-seasons-field{
			font-size: 25px;
                        position: relative;
                        left: 30px;
                        height: 30px;
                        width: 500px;
			top: 20px;
		} 
		#tv-episodes-field{
			font-size: 25px;
                        position: relative;
                        left: 30px;
                        height: 30px;
                        width: 500px;
                        top: 40px;
		}
		#tv-summary-field{
			font-size: 25px;
                        position: relative;
                        left: 30px;
                        height: 30px;
                        width: 500px;
                        top: 60px;
		}
		#add-tv-form-submit{
			width: 100px;
                        height: 30px;
                        position: relative;
                        top: 140px;
			left: 470px;
		}
		#add-tv-form-submit:hover{
			background-color: gray;
			cursor: pointer;
			border-radius: 10%;
		}
		#add-movie-form-submit:hover{
                        background-color: gray;
                	cursor: pointer;
			border-radius: 10%;
		}
		#post-title{
			font-family: 'Monoton', cursive;
                        text-align: center;
                        position: relative;
                        font-size: 65px;
                        border: 5px solid #990000;
                        min-height: 125px;
                        max-height: 300px;
                        background-color: white;
                        bottom: 65px;
		}
		#post-holder{
			background-color: #990000;
			height: 1000px;
		}
		#post-header{
			text-align: center;
			font-size: 35px;
		}
		#all-post{
			width: 1400px;
			position: relative;
			left: 100px;	
			bottom: 100px;
			font-family: 'Abril Fatface', cursive;
			background-image: url('https://www.fprouae.com/wp-content/uploads/2016/06/production-lighting.jpg');
			height: 850px;
		}
		.post-review{
			background-color: white;
			text-align: center;
			opacity: 0.7;
			position: relative;
			top: 100px;
			width: 800px;
			height: 600px;
			margin: 0 auto;
		}
		#movie-show{
			font-size: 25px;
			position: relative;
			right: 270px;
		}
		#review-write{
			font-size: 25px;
                        position: relative;
                        right: 255px;
		}
		.post-form-field{
			width: 700px;
			position: relative;
			font-size: 20px;
		}
		#post-form-submit{
			position: relative;
			top: 140px;
			left: 330px;
			font-size: 50px;
		}
		#post-form-submit:hover{
			cursor: pointer;
			background-color: gray;
			border-radius: 10%;
			font-size: 15px;
		}
		#create-review-button {
                        display: inline;
                        color: white;
                        background-color: black;
                        cursor: pointer;
                        position: fixed;
                        border-radius: 50%; /*button is a circle */
                        height: 60px;
                        width:60px;
                        top: 250px;
                        right:65px;
                        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
                }
                #create-review-button:hover {
                        background-color: #990000;
                        height: 70px;
			width: 70px;
                        top: 250px;
                        right: 75px;
                        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
                }
                #create-review-button .fas.fa-plus-circle {
                        font-size: 25px;
                        color: white;
                }
		#review-div{
                        background-color: white;
                        border: 5px solid #990000;
                        width: 600px;
                        height: 400px;
                        margin: 0 auto;
                        justify-content: center;
                        position: relative;
                }
		#all-user{
                        height: 900px;
                        width: 1400px;
                        position: relative;
                        left: 100px;
                        bottom: 70px;
                        font-family: 'Abril Fatface', cursive;
                }
		#profile-header{
			position: relative;
			top: 40px;
                        text-align: center;
                        font-size: 45px;
                        font-family: 'Abril Fatface', cursive;
                }
                #add-review-header{
                        font-size: 25px;
                        position: relative;
                        text-align: center;
                }
                #review-title-field{
                        font-size: 25px;
                        position: relative;
                        left: 30px;
                        height: 30px;
                        width: 500px;
                }
		#media-title-field{
                        font-size: 25px;
                        position: relative;
                        left: 30px;
                        height: 30px;
                        width: 500px;
                        top: 20px;
                }
                #review-body-field{
                        font-size: 25px;
                        position: relative;
                        left: 30px;
                        height: 30px;
                        width: 500px;
                        top: 40px;
                }
		.edit-icon {
                        position: relative;
                        left: 550px;
                        bottom: 175px;
                        display: inline;
                }
                .delete-icon {
                        position: relative;
                        left: 500px;
                        bottom: 175px;
                        display: inline;
                }
  </style>
</head>
<body>
        {{{body}}}
</body>
</html>
