<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/signup.css" media="screen">
	<link rel="stylesheet" href="/login.css" media="screen">
	<link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" crossorigin="anonymous">
 <style>
	body{
			background-color: white;	
		}
		#login-holder{
			background-color: #990000;
			font-family: 'Abril Fatface', cursive;	
			display: flex;
			flex-wrap: wrap;
			position: relative;
        		bottom: 80px;
		}
		#login-text{
			width: 1300px;
			height: 1000px;
			background-image: url('https://cdn.britannica.com/61/118661-050-6CAD9A11/Popcorn.jpg');
			justify-content: center;
			position: relative;
			left: 170px;	
			text-align: center;
		}
		
		 #login-title{
                        text-align: center;
                        font-size: 100px;
                        font-family: 'Monoton', cursive;
                        opacity: 1.0;;
                }

		#login-form{
			background-color: white;
                        opacity: 0.7;
			position: relative;
			top: 130px;
			font-weight: bold;
		 	height: 650px;
			text-align: center;
			justify-content: center;
		}
		#login-form-field{
			display: block;
			height: 30px;
                        width: 300px;
		}
		#username-field{
			width: 300px;
			height: 30px;
			position: relative;
			left: 180px;			
			font-size: 20px;
		}
		#password-field{
			width: 300px;
                        height: 30px;
                        position: relative;
			top: 60px;
			right: 128px;
			font-size: 20px;
		}
		
		#login-form-submit{
			position: relative;
			top: 60px;
			right: 100px;
		}
	
		#login-form-submit:hover{
			cursor: pointer;
			background-color: gray;
			border-radius: 20%;
		}

		#login-header{
			font-size: 50px;
		}

		.buttonlog{
                        border-radius: 50%;
                        color: black;
                        background-color: white;
                        border: black;
			position: relative;
                        top: 70px;
                }
		#signuplink{
			font-weight: bold;
			font-size: 20px;
			position: relative;
			top: 70px;
		}
		#signup-holder{
			background-color: #990000;
			font-family: 'Abril Fatface', cursive;
			position: relative;
			bottom: 60px;
			display: flex;
                        flex-wrap: wrap;
		}

		#signup-text{
			width: 1400px;
			height: 1000px;
			justify-content: center;
			position: relative;
			left: 135px;
			text-align: center;
			background-image: url('https://media1.thehungryjpeg.com/thumbs2/ori_3486159_2b11949691043693ed746d441450d7be2a1b6bf7_movie-premiere-event-at-cine-theatre-cinema-white-blank-screen-at-mov.jpg');
		}

		#signup-header{
			font-size: 50px;
		}
		
		#signup-form{
			position: relative;
			top: 35px;
		}

		#signup-username-field{
			width: 300px;
                        height: 30px;
                        position: relative;
                        left: 180px;
                        font-size: 20px;
		}

		#signup-password-field{
			width: 300px;
                        height: 30px;
                        position: relative;
                        top: 60px;
                        right: 128px;
                        font-size: 20px;			
		}
		
		#signup-form-submit{
			position: relative;
                        top: 60px;
                        right: 100px;			
		}

		#signup-form-submit:hover{
			cursor: pointer;
                        background-color: gray;
                        border-radius: 20%;			
		}
		
		#signup-title{
			text-align: center;
			font-size: 100px;
			font-family: 'Monoton', cursive;
		}

		#site-title{
			font-family: 'Monoton', cursive;
			text-align: center;
                        font-size: 65px;
			border: 5px solid #990000;
			min-height: 125px;
			max-height: 300px;
			position: relative;
			margin: 0;
			background-color: white;
		}
		
		#navbar{
			overflow: hidden;
			background-color: #990000;
		}

		#navbar a{
			float: left;
			font-size: 25px;
			font-family: 'Abril Fatface', cursive;
			color: white;
			padding: 14px 16px;
			text-decoration: none;
		}	
		#search-link:hover{
			cursor: pointer;
                        color: black;
                        background-color: white;
		}
		#media-link:hover{
			cursor: pointer;
                        color: black;
                        background-color: white;
		}	
		#navbar a:hover{
			cursor: pointer;
			color: black;
			background-color: white;
		}

		 #search-header{
                        font-family: 'Abril Fatface', cursive;
                        font-size: 45px;
                        text-align: center;
                        color: black;
                        position: relative;
                        top: 50px;
                }

                #search-again {
                        font-family: 'Abril Fatface', cursive;
                        font-size: 35px;
                        color: #990000;
                        position: relative;
                        top: 60px;
                }

		#search-container{
			width: 1000px;
			margin: 0 auto;	
		}
		.input-icons i{
                        position: absolute;
                }
		.input-icons{
			width: 100%;
		}
		.input-field{
			text-align: center;
		}

		.searchbar{
			height: 35px;
			width: 1000px;
			font-size: 25px;
		}
			
		#searchbtn{
			position: relative;
			bottom: 30px;
			left: 1030px;
			font-size: 18px;
			height: 35px;
			width: 80px;
			text-align: center;
		}
		
		#searchbtn:hover{
			cursor: pointer;
			background-color: black;
			color: white;
		}
		#admin-holder{
			background-color: #990000;
		}
		#admin-title{
                        font-family: 'Monoton', cursive;
                        text-align: center;
                        position: relative;
                        font-size: 65px;
                        border: 5px solid #990000;
                        min-height: 125px;
                        max-height: 300px;
                        background-color: white;
                	bottom: 35px;
		}
		#movie-div{
			background-color: white;
			border: 5px solid #990000;
			width: 600px;
			height: 400px;
			position: relative;
			top: 20px;
			left: 50px;
			opacity: 0.8;
		}
		#tv-div-container{
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
		#tv-div{
			background-color: white;
                        border: 5px solid #990000;
                        width: 600px;
                        height: 400px;
			opacity: 0.8;
			display: flex;
			flex-direction: column;
			position: relative:
			left: 20px;
		}
		#admin-header{
			text-align: center;
			font-size: 50px;	
			position: relative;
			justify-content: center;
			bottom: 400px;
			left: 650px;
		}
		#all-admin{
			display: flex;
			justify-content: center;
                        align-items: center;
			background-image: url('https://webcomicms.net/sites/default/files/clipart/137458/movie-film-137458-7790046.jpg');
			height: 900px;
			width: 1400px;
			position: relative;
			left: 100px;	
			top: -5px;
			font-family: 'Abril Fatface', cursive;
		}
		#add-movie-header{
			font-size: 25px;
                        position: relative;
			text-align: center;
		}
		#add-tv-show-header{
			font-size: 25px;
			text-align: center;
			font-family: 'Abril Fatface', cursive;
		}
		#movie-title-field{
			font-size: 25px;
			height: 30px;
			width: 500px;
			margin-bottom: 20px;
		}
		#tv-title-field{
			font-size: 25px;
			height: 30px;
                        width: 500px;
			margin-bottom: 20px;
		}
	
		#movie-summary-field{
			font-size: 25px;
                        height: 30px;
                        width: 500px;
			margin-bottom: 20px;
		}
		#add-movie-form-submit{
			width: 100px;
			height: 30px;
		}	
  		#tv-seasons-field{
			font-size: 25px;
                        height: 30px;
                        width: 500px;
			margin-bottom: 20px;
		} 
		#tv-episodes-field{
			font-size: 25px;
                        height: 30px;
                        width: 500px;
			margin-bottom: 20px;
		}
		#tv-summary-field{
			font-size: 25px;
                        height: 30px;
                        width: 500px;
			margin-bottom: 20px;
		}
		#img_url-field{
                        font-size: 25px;
                        height: 30px;
                        width: 500px;
			margin-bottom: 20px;
                }

		#add-tv-form-submit{
			width: 100px;
                        height: 30px;
		}
		#add-tv-form-submit:hover{
			background-color: gray;
			cursor: pointer;
			border-radius: 10%;
		}
		#add-movie-form-submit:hover{
                        background-color: gray;
                	cursor: pointer;
			border-radius: 10%;
		}
		#post-title{
			font-family: 'Monoton', cursive;
                        text-align: center;
                        position: relative;
                        font-size: 65px;
                        border: 5px solid #990000;
                        min-height: 125px;
                        max-height: 300px;
                        background-color: white;
                        bottom: 65px;
		}
		#post-nav{
                        position: relative;
                       	top: 2px;
                }
		#post-holder{
			background-color: #990000;
			height: 1100px;
		}
		#post-header{
			text-align: center;
			font-size: 35px;
		}
		#all-post{
			width: 1400px;
			position: relative;
			bottom: 20px;
			font-family: 'Abril Fatface', cursive;
			background-image: url('https://www.fprouae.com/wp-content/uploads/2016/06/production-lighting.jpg');
			height: 850px;
			margin: 0 auto;
		}
		.post-review{
			background-color: white;
			text-align: center;
			opacity: 0.7;
			position: relative;
			top: 100px;
			width: 800px;
			height: 700px;
			margin: 0 auto;
		}
		#movie-show{
			font-size: 25px;
			position: relative;
			right: 270px;
		}
		#review-write{
			font-size: 25px;
                        position: relative;
                        right: 255px;
		}
		 #rev-author{
                        font-size: 25px;
                        position: relative;
                        right: 300px;
                }
		#rev-title{
                        font-size: 25px;
                        position: relative;
                        right: 270px;
                }
		.post-form-field{
			width: 700px;
			position: relative;
			font-size: 20px;
		}
		#post-form-submit{
			position: relative;
			bottom: -10px;
			left: 330px;
		}
		#post-form-submit:hover{
			cursor: pointer;
			background-color: gray;
			border-radius: 10%;
			font-size: 15px;
		}
		#create-review-button {
                        display: inline;
                        color: white;
                        background-color: black;
                        cursor: pointer;
                        position: relative;
                        border-radius: 50%; /*button is a circle */
                        height: 60px;
                        width:60px;
                        bottom: 900px;
                        left: 1400px;
                        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
                }
                #create-review-button .fas.fa-plus-circle {
                        font-size: 25px;
                        color: white;
			text-decoration: none;
                }
		#review-div{
                        background-color: white;
                        border: 5px solid #990000;
                        width: 600px;
                        height: 400px;
                        margin: 0 auto;
                        justify-content: center;
                        margin-bottom: 20px;
			position: relative;
                }
		#all-user{
                        height: 900px;
                        width: 1400px;
                        position: relative;
                        left: 100px;
                        bottom: 70px;
                        padding: 20px;
			font-family: 'Abril Fatface', cursive;
	 	}
		#profile-header{
			position: relative;
			top: 40px;
                        text-align: center;
                        font-size: 45px;
                        font-family: 'Abril Fatface', cursive;
                }
		#friend-header{
                        position: relative;
                        top: 20px;
                        text-align: center;
                        font-size: 45px;
                        font-family: 'Abril Fatface', cursive;
                }
                #add-review-header{
                        font-size: 25px;
                        position: relative;
                        text-align: center;
                }
		#add-review-title{
			font-size: 25px;
                        position: relative;
                        left: 30px;
                        height: 30px;
                        width: 500px;
		}
		#add-review-media{
			font-size: 25px;
                        position: relative;
                        left: 30px;
                        height: 30px;
                        width: 500px;
			top: 20px;
		}
		#add-review-body{
			font-size: 25px;
                        position: relative;
                        left: 30px;
                        height: 30px;
                        width: 500px;
			top: 40px;
		}
                #review-title-field{
                        font-size: 20px;
                        position: relative;
                        left: 30px;
                        height: 30px;
                        width: 500px;
                }
		#review-author-field{
			font-size: 25px;
                        position: relative;
                        left: 30px;
                        height: 30px;
                        width: 500px;
			top: 60px;
		}
		#media-title-field{
                        font-size: 20px;
                        position: relative;
                        left: 30px;
                        height: 30px;
                        width: 500px;
                        top: 20px;
                }
                #review-body-field{
                        font-size: 20px;
                        position: relative;
                        left: 30px;
                        height: 30px;
                        width: 500px;
                        top: 40px;
                }
		.edit-icon {
                        position: relative;
                        left: 550px;
                        bottom: 330px;
                        display: inline;
			color: black;
                }
		.fas.fa-edit {
			color: black;
		}

                .delete-icon {
                        position: relative;
                        left: 480px;
                        bottom: 330px;
                        display: inline;
                }
		.fas.fa-trash-alt {
			background: none;
			color: black;
			font-size: 15px;
		}

		.movie-flex-container{
                        display: flex;
                        justify-content: center;
                        align-items: center;
			flex-wrap: wrap;
                	align-content: space-between;
		}
                #movie-header{
                        color: white;
                        background-color: #990000;
                        text-align: center;
                        font-size: 75px;
                        font-family: 'Monoton', cursive;
                        margin-top: 20px;
		}
                #add-tv-header{
                        color: white;
                        background-color: #990000;
                        text-align: center;
                        font-size: 75px;
                        font-family: 'Monoton', cursive;
                        margin-top: 20px;
                }
		#media-holder{
			background-image: url('https://image.freepik.com/free-vector/movie-cinema-icons-seamless-pattern-with-doodle-style-white-background_7130-940.jpg');
                }
		.movie-flex-container > div{
                        background-color: white;
                        border: double;
                        border-color: #990000;
                        border-width: 5px;
                        margin: 10px;
                        text-align: center;
                        font-size: 30px;
                }

                #comment-field{
                        font-size: 15px;
                        height: 20px;
                        width: 200px;
                        margin-bottom: 20px;
                }
                #add-comment-form-submit{
                        color: white;
                        width: 50px;
                        height: 30px;
                        background-color: #990000;
                }
                #add-comment-form-submit:hover{
                        background-color: gray;
                        cursor: pointer;
                        border-radius: 10%;
                }
                #media-container{
                        display: flex;
                        flex-direction: column;
                }
		.ld_button{
                        border: none;
                        background-color: white;
                        color: #990000;
                        font-size: 22px;
                        margin-right: 15px;
                        margin-left: 15px;
                }
                .ld_button:hover{
                        color: gray;
                        cursor: pointer;
                }
                #button-holder{
                        margin: 10px;
                }
                .review_link{
                        font-size: 16px;
                        color: #990000;
                        background-color: white;
                        font-family: 'Abril Fatface', cursive;
                }
                #media-img{
                        height: 400px;
		}
		#title-text{
			font-family: 'Abril Fatface', cursive;
			font-size: 20px;
			text-decoration: underline;
			
		}
		#summary-text{
			font-family: 'Abril Fatface', cursive;
                        font-size: 16px;
			word-wrap: break-word;
			width: 250px;
			text-align: center;
                }

		#all-review{
                        width: 1400px;
                        position: relative;
                        bottom: 20px;
                        font-family: 'Abril Fatface', cursive;
                        height: 850px;
                        margin: 0 auto;
                }
		#media-table {
			display: flex;
                        justify-content: center;
			align-content: space-between;
			font-family: 'Abril Fatface', cursive;
                        font-size: 16px;
			color: black;
			background-color: white;
			text-align: center;
			opacity: 0.7;
			position: relative;
			border: 5px solid #990000;
			height: 400px;
			width: 600px;
			margin: 30px;
		}

  </style>
</head>
<body>
        {{{body}}}
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}  
</body>
</html>
