<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/signup.css" media="screen">
	<link rel="stylesheet" href="/login.css" media="screen">
</head>
<body>
        {{{body}}}
</body>
</html>
