<main id="admin-holder">
<div id="post-nav">
  <h1 id="site-title"> Kernel</h1>
   <div id="navbar">
        <a href="/userProfile"> Reviews</a>
        <a href="/search">Search</a>
        <a href="/media">All Media</a>
    </div>
</div>
  <div id="all-admin">
    <h2 id="admin-header">Admin</h2>
<div id="tv-div-container">   
<div id="tv-div">
<h3 id="add-tv-show-header">Add Visual Media</h3>
	<form id="addperson" action="/admin" method="post">
<input type="text" name="vm_title" id="tv-title-field" class="add-tv-form-field" placeholder="Title">
      <input type="number" name="seasons" id="tv-seasons-field" class="add-tv-form-field" placeholder="Number of Seasons">
      <input type="number" name="episodes" id="tv-episodes-field" class="add-tv-form-field" placeholder="Number of Episodes">
      <input type="text" name="summary" id="tv-summary-field" class="add-tv-form-field" placeholder="Summary">
	<input type="text" name="img_url" id="img_url-field" class="add-tv-form-field" placeholder="Image URL">
      <input type="submit" value="Add Media" id="add-tv-form-submit">
</form>   
</div>
</div>
<h3> Current Media:</h3>
<table>
	<thread>
		<th> Media Title</th>
	</thread>
	<tbody>
		{{#each media}}
		<tr>
			<td>{{vm_title}}</td>
			<td><a href="/admin/{{id}}">Update</a></td>
			<td><button onclick="deleteMedia({{id}})">Delete</button></td>
		</tr>
		{{/each}}
	</tbody>
</table>
</div>
 </main>
<script>
function deleteMedia(id){
    $.ajax({
        url: '/admin/' + id,
        type: 'DELETE',
        success: function(result){
            window.location.reload(true);
        }
    })
};
</script>
