<main id="admin-holder">
  <h1 id="admin-title">Kernel</h1> 
  <div id="all-admin">
    <h2 id="admin-header">Admin</h2>
    <div id="movie-div">
    <h3 id="add-movie-header">Add Movie</h3>
    <form id="add-movie-form">
      <input type="text" name="movie-title" id="movie-title-field" class="add-movie-form-field" placeholder="Title">
      <input type="text" name="movie-summary" id="movie-summary-field" class="add-movie-form-field" placeholder="Summary">
      <input type="submit" value="Add Movie" id="add-movie-form-submit">
    </form>
   </div>
   <div id="tv-div">
    <h3 id="add-tv-show-header">Add TV Show</h3>
    <form id="add-tv-form">
      <input type="text" name="tv-title" id="tv-title-field" class="add-tv-form-field" placeholder="Title">
      <input type="number" name="tv-seasons" id="tv-seasons-field" class="add-tv-form-field" placeholder="Number of Seasons">
      <input type="number" name="tv-episodes" id="tv-episodes-field" class="add-tv-form-field" placeholder="Number of Episodes">
      <input type="text" name="tv-summary" id="tv-summary-field" class="add-tv-form-field" placeholder="Summary">
      <input type="submit" value="Add TV Show" id="add-tv-form-submit">
    </form>
   </div>
   </div>
 </main>
