<h1> List of All HTML Pages and Their Descriptions </h1>
<p><a href = "/login">Login Page: where the user can enter account information or go to the sign up page</a></p>
<p><a href = "/signup">Sign Up Page: where the user can create a new account if they do not have an existing account</a></p>
<p><a href = "/search">Search Page: where the user can search for different movies and tv shows</a></p>
<p><a href = "/admin">Admin Page: this is where the admin can enter new movies or tv shows</a></p>
<p><a href = "/friendProfile">Friend Profile: this is where user can see another user's profile. They can only view the profile without making any changes</a></p>
<p><a href = "/userProfile">User Profile Page: this is where the user can see, update, delete, add to all of the reviews they have posted</a></p>

