<h1> List of All HTML Pages and Their Descriptions </h1>
<p><a href = "/login">Login Page: where the user can enter account information or go to the sign up page</a></p>
<p><a href = "/signup">Sign Up Page: where the user can create a new account if they do not have an existing account</a></p>
<p><a href = "/search">Search Page: where the user can search for different movies and tv shows</a></p>
<p><a href = "/admin">Admin Page: this is where the admin can enter new movies or tv shows</a></p>
<p><a href = "/userProfile">Review List Page: this is where the user can see, update, delete, add to all of the reviews</a></p>
<p><a href = "/posts">Post Review Page: where the user can post a new review onto their user profile page</a></p>
<p><a href = "/media">Visual Media Page: this is where all of the movies/tv shows the admin has posted will appear. Users will be able to leave comments and like/dislike each entry</a></p>
