<main id="login-holder">
   <div id="login-text">
    <form id="login-form" action="/login" method="post">
      <h1 id="login-title">Kernel</h1>
      <h2 id="login-header">Login</h2>
      <input type="text" name="username" id="username-field" class="login-form-field" placeholder="Username">
      <input type="password" name="password" id="password-field" class="login-form-field" placeholder="Password">
      <input type="submit" value="Login" id="login-form-submit">
    <h2 id="signuplink">Don't have an account? Make one here:</h2>
    <a  href = "/signup" class = "buttonlog">Sign Up</a>
    <h2 id="signuplink">Are you an admin? Login here:</h2>
    <a  href = "/admin-login" class = "buttonlog">Admin Login</a> 
   </form>
   </div>


  </main>


