<main id="media-holder">
  <h1 id="site-title"> Kernel</h1>
   <div id="navbar">
        <a href="/userProfile"> Reviews</a>
        <a href="/search">Search</a>
  	<a href="/media">All Media</a> 
  </div>
    <h2 id="movie-header">Media</h2>
    <div class="movie-flex-container">
	{{#each media}}
        <div id="media-container">
                <img id="media-img" src="{{img_url}}"/>
              
<p id="title-text">{{vm_title}}</p>
<p id="summary-text">{{summary}}</p>
  <p id="button-holder"><button type="button" class="ld_button"></button>
                <a  href = "/posts" class = "review_link">Post a Review</a>
                <a  href = "/userProfile/media_review/{{vm_title}}" class = "review_link">See Reviews</a>
        </div>
	{{/each}}
    </div>

</main>

