<main id="media-holder">

     <h1 id="site-title"> Kernel</h1>
   <div id="navbar">
        <a href="/userProfile"> Your Profile</a>
        <a href="/search">Search</a>
   </div>
     <div id="all-media">
      <h2 id="media-header">Visual Media</h2>
      <div id="media-movies">
      <h3 id="movie-header">Movies</h3>

	<div id="movie-pic">
	
	</div>
      <form id="add-comment-form">
        <input type="text" name="comment" id="comment-field" class="add-comment-form-field" placeholder="Comment">
        <input type="submit" value="Add Comment" id="add-comment-form-submit">
      </form>
      <button type="button" id="like-button">Like!</button>
      <button type="button" id="dislike-button">Dislike!</button>
        </div>

        <div id="media-tv>
      <h3 id="add-tv-header">TV Shows</h3>

	<div id="tv-pic">

	</div>
      <form id="add-comment-form">
        <input type="text" name="comment" id="comment-field" class="add-comment-form-field" placeholder="Comment">
        <input type="submit" value="Add Comment" id="add-comment-form-submit">
      </form>
      <button type="button" id="like-button">Like!</button>
      <button type="button" id="dislike-button">Dislike!</button>
        </div>
     </div>
  </main>  
