<main id="media-holder">
  <h1 id="site-title"> Kernel</h1>
   <div id="navbar">
        <a href="/userProfile"> Reviews</a>
        <a href="/search">Search</a>
  	<a href="/media">All Media</a> 
  </div>
    <h2 id="movie-header">Media</h2>
    <div class="movie-flex-container">
	{{#each media}}
        <div id="media-container">
                <img id="media-img" src="{{img_url}}"/>
              
<p id="title-text">{{vm_title}}</p>
<p id="summary-text">{{summary}}</p>
  <p id="button-holder"><button type="button" class="ld_button"><i class="fas fa-thumbs-up"></i></button>
                <button type="button" class="ld_button"><i class="fas fa-thumbs-down"></i></button></p>
                <a  href = "/posts" class = "review_link">Post a Review</a>
                <a  href = "/userProfile/media_review/{{vm_title}}" class = "review_link">See Reviews</a>
                <form id="add-comment-form">
                <input type="text" name="comment" id="comment-field" class="add-comment-form-field" placeholder="Leave comment here...">
                <input type="submit" value="Add" id="add-comment-form-submit">
                 </form>
        </div>
	{{/each}}
    </div>

</main>

