<main id="media-holder">
    <h2 id="movie-header">Movies</h2>
    <div class="movie-flex-container">
        <div id="media-container">
                <img id="media-img" src="https://images-na.ssl-images-amazon.com/images/I/515DYf99zfL._AC_.jpg"/>
                <p id="button-holder"><button type="button" class="ld_button"><i class="fas fa-thumbs-up"></i></button>
                <button type="button" class="ld_button"><i class="fas fa-thumbs-down"></i></button></p>
                <a  href = "/post" class = "review_link">Post a Review</a>
                <a  href = "/" class = "review_link">See Reviews</a>
                <form id="add-comment-form">
                <input type="text" name="comment" id="comment-field" class="add-comment-form-field" placeholder="Leave comment here...">
                <input type="submit" value="Add" id="add-comment-form-submit">
                 </form>
        </div>

        <div id="media-container">
                <img id="media-img" src="https://images-na.ssl-images-amazon.com/images/I/A1wnJQFI82L._AC_SY879_.jpg"/>
                <p id="button-holder"><button type="button" class="ld_button"><i class="fas fa-thumbs-up"></i></button>
                <button type="button" class="ld_button"><i class="fas fa-thumbs-down"></i></button></p>
                <a  href = "/post" class = "review_link">Post a Review</a>
                <a  href = "/" class = "review_link">See Reviews</a>
                <form id="add-comment-form">
                <input type="text" name="comment" id="comment-field" class="add-comment-form-field" placeholder="Leave comment here...">
                <input type="submit" value="Add" id="add-comment-form-submit">
                 </form>
        </div>
         <div id="media-container">
                <img id="media-img" src="https://images-na.ssl-images-amazon.com/images/I/51vmy%2BBKmrL._AC_.jpg"/>
                <p id="button-holder"><button type="button" class="ld_button"><i class="fas fa-thumbs-up"></i></button>
                <button type="button" class="ld_button"><i class="fas fa-thumbs-down"></i></button></p>
                <a  href = "/post" class = "review_link">Post a Review</a>
                <a  href = "/" class = "review_link">See Reviews</a>
                <form id="add-comment-form">
                <input type="text" name="comment" id="comment-field" class="add-comment-form-field" placeholder="Leave comment here...">
                <input type="submit" value="Add" id="add-comment-form-submit">
                 </form>
        </div>
    </div>
    <h2 id="add-tv-header">TV Shows</h2>
        <div class="movie-flex-container">
        <div id="media-container">
                <img id="media-img" src="https://lh3.googleusercontent.com/proxy/kXz9nfJb84Bxi1mNN4Wh0_yU2KYx4lUlPdlDLG9Uc6oVITmJRoioXGh68XIEKF897ws5BKa2C_ly3v2WF53McYyrxR3d9zY0qENLegZ8j-86"/>
                <p id="button-holder"><button type="button" class="ld_button"><i class="fas fa-thumbs-up"></i></button>
                <button type="button" class="ld_button"><i class="fas fa-thumbs-down"></i></button></p>
                <a  href = "/post" class = "review_link">Post a Review</a>
                <a  href = "/" class = "review_link">See Reviews</a>
                <form id="add-comment-form">
                <input type="text" name="comment" id="comment-field" class="add-comment-form-field" placeholder="Leave comment here...">
                <input type="submit" value="Add" id="add-comment-form-submit">
                 </form>
        </div>

        <div id="media-container">
                <img id="media-img" src="https://movieposters2.com/images/730581-b.jpg"/>
                <p id="button-holder"><button type="button" class="ld_button"><i class="fas fa-thumbs-up"></i></button>
                <button type="button" class="ld_button"><i class="fas fa-thumbs-down"></i></button></p>
                <a  href = "/post" class = "review_link">Post a Review</a>
                <a  href = "/" class = "review_link">See Reviews</a>
                <form id="add-comment-form">
                <input type="text" name="comment" id="comment-field" class="add-comment-form-field" placeholder="Leave comment here...">
                <input type="submit" value="Add" id="add-comment-form-submit">
                 </form>
        </div>
    </div>

</main>

