<main id="main-holder">
    <h1 id="post-header">Post New Review</h1>

<section class="post-review">
  <div class="Movie/Show">
    Movie/Show: {{Movie/Show}}
    <input type="text" name="Movie/Show" id="media-field" class="post-form-field" placeholder="Enter a Movie/Show">
  </div>
  <div class="WriteReview">
    Write a Review: {{WriteReview}}
    <input type="password" name="WriteReview" id="review-field" class="post-form-field" placeholder="Write Your Review">
  </div>
</section>
<input type="submit" value="Post" id="post-form-submit">
  </main>
