<main id="main-holder">
  <h1 id="site-title"> Kernel</h1>
      <h2 id="search-header">Your Search Input is Invalid</h2>
	<a id="search-header" href="/search"><center>Please try again</center></a>
</main>
