<main id="main-holder">
  <h1 id="site-title"> Kernel</h1>
   <div id="navbar">
	<a href="/userProfile">Reviews</a>
	<a href="/search">Search</a>
	<a href="/media">All Media</a>
   </div>
	
    <h2 id="search-header">Search for Media Here</h2>

	<div id="search-container">
    		<form id="search-form" action='' method=''>
      			<input type="text" id="title_search_string" class="searchbar" placeholder="Search.." name="title_search_string">
		<input type="button" id="searchbtn" class="input-field" value="Search" onclick="searchByTitle()">
    		</form>
  	</div>

  </main>
