<main id="main-holder">
  <h1 id="site-title"> Kernel</h1>
   <div id="navbar">
	<a href="/userProfile"> Your Profile</a>
	<a href="/search">Search</a>
   </div>
	
    <h2 id="search-header">Search for Films, Shows and Other Users Here</h2>

	<div id="search-container">
    		<form id="search-form">
      			<input type="text" id="searchbar" placeholder="Search.." name="search">
      			<button type="submit" id="searchbtn"><i class="fas fa-search"></i></button>
    		</form>
  	</div>
  </main>
