<main id="main-holder">
    <h1 id="search-header">Search for Films and Shows Here</h1>

	<div class="search-container">
    		<form action="/action_page.php">
      			<input type="text" placeholder="Search.." name="search">
      			<button type="submit"><i class="fa fa-search"></i></button>
    		</form>
  	</div>
  </main>
