<main>
  <h1>Your Profile</h1>
  <h2>Username:</h2>
  <div class="reviewBox">
 	<p> Movie/TV Show Title: </p>
	<button type="button" class="reviewEdit"> Edit</button>
	<button type="button" class="reivewDelete"> x </button>
	<p> Review: </p>
	<button type="button" class="reviewAdd"> Post Review </button>
</main>
