<main id = "user-holder">
  <h1 id="site-title"> Kernel</h1>
   <div id="navbar">
        <a href="/userProfile"> Review</a>
        <a href="/search">Search</a>
	<a href="/media">All Media</a>  
 </div>

{{#each userProfile}}
  <div id = "all-user">
        <h2 id= "profile-header"> Reviews: </h2>
	<div id = "review-div">
                <h3 id = "add-review-header"> Review # </h3>
		<p id ="review-title-field">{{review_title}}</p>
		<p id ="media-title-field">{{review_movie_tv}}</p>
		<p id ="review-body-field">{{review_body}}</p>
		<p id ="review-author-field">{{review_author}}</p>
                <div class = "edit-icon">
                        <i class="fas fa-edit"></i>
                </div>
                <div class = "delete-icon">
                        <i class="fas fa-trash-alt"></i>
                </div>
        </div>
  </div>
{{/each}}
  <button type="button" id="create-review-button"><a href="/posts" <i class="fas fa-plus-circle"></i></a></button>
</main>
